body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card{
  width: 24%;
  height: 25vh;
  background-color: black;
  float: left;
  margin: 1% .5% 0% .5%;
}


.companyName, .currentPrice{
  color: white;
  margin-left: 10px;
}

.overallPerformance, .overall{
  color: white;
}

.companyName{
  overflow:hidden;
  text-overflow: ellipsis;
  margin: 0 0 0 10px;
  font-size: 4vh;
  white-space: nowrap;

}

.currentPrice, .overall{
  float: left;
}

.percentChangeUp, .overallPerformanceUp{
  color: #007000;
}

.percentChangeDown, .overallPerformanceDown{
  color: #D2222D;
}

.currentPrice, .percentChangeDown, .percentChangeUp{
  font-size: 2vh;
  margin-top: 0;
  margin-bottom: 0px;
}

.overall{
  margin-left: 10px;
}

.overallPerformanceUp, .overallPerformanceDown, .overall{
  font-size: 2vh;
  margin-top: 0;
  margin-bottom: 1vh;
}

.chart{
  width: 24vw; 
}

.chartLine{
  width:24vw;
}

@media (max-width: 750px) {
  .card{
    width: 49%;
  }
  .chart{
    width: 49vw; 
  }
  
  .chartLine{
    width:49vw;
  }
}


@media (max-width: 375px) {
  .card{
    width: 99%;
  }
  .chart{
    width: 99vw; 
  }
  
  .chartLine{
    width:99vw;
  }
}

body{
  background-color: #808080;
}